<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>268282644915-7m8m119fm6dn9q8t10gbpqgrtplka135.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.268282644915-7m8m119fm6dn9q8t10gbpqgrtplka135</string>
	<key>API_KEY</key>
	<string>AIzaSyA0ym27636Aj3hMss12PbtOXfHsc5ILhRE</string>
	<key>GCM_SENDER_ID</key>
	<string>268282644915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.kehindeakeredolu.cabifyDriver</string>
	<key>PROJECT_ID</key>
	<string>geetaxi-1e769</string>
	<key>STORAGE_BUCKET</key>
	<string>geetaxi-1e769.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:268282644915:ios:bb58e7a4d3eed6699ee3c6</string>
	<key>DATABASE_URL</key>
	<string>https://geetaxi-1e769.firebaseio.com</string>
</dict>
</plist>